*{margin: 0; padding: 0}
#weblap{
	width: 1366px;
	height: 1500px;
	margin: 0 auto;
	background: ffffff;
}
#header{
	width: 1366px;
	height: 86px;
	background-color:#81BC06;	
}
#logo{
	float: left;
	margin: auto auto auto 127px;
	position:relative;
}
#timkiem{
	float: right;
	margin: 20px 350px auto auto;
}
#nav{
	float: left;
	position:relative;
}
#nav{
	height:72px;
	width: 1366px; 
	float: left;
	background-color: #2f2f2f;
	position: relative;
}
#nav ul {
	float: left;
	margin: auto auto auto 127px;
	position: relative;
}
#nav ul li{
	float: left;
	list-style-type: none;
	position: relative;
}
#menu ul li ul{
	display: none;
	position: absolute;
	background-color: #2F2F2F;
	color: #FFFFFF;
}
#menu ul li:hover ul{ display: block;}
#hanglaptop{
}
#hanglaptop ul li{
	float: left;
	list-style-type: none;
	margin: auto auto auto 128px; 
}
#slide{
	pa
	height: 290px;
	width: 1366px; 
	margin: auto auto auto 128px;
	background-color: aliceblue;
}
#slide ul li{
	float:  left;
	list-style-type:none;
	margin: 3px auto auto auto;
	background-color: aliceblue;
}
.laptop1{
	float: left;
	margin: auto auto auto 128px;
}
.chitiet1{
	float: left;
	margin: auto auto auto 128px;
}
#footer{
	float: left;
	width: 1366px;
	height: 285px;
	background-color: #414045;
}
#Chinhsach{
	float: left;
	margin: 25px auto auto 128px;
	font-size: 18px;
}
#Chinhsach ul a{
	text-decoration: none;
	color: #c5b9b9;
}
#Chinhsach ul li{
	list-style-type: none;
	margin: 10px auto auto auto;
}
#timhieu{
	float: left;
	margin: 25px auto auto 158px;
	font-size: 18px;
}
#timhieu ul a{
	text-decoration: none;
	color:  #c5b9b9;

}
#timhieu ul li{
	list-style-type: none;
	margin: 10px auto auto auto;
}
#lienhe{
	float: left;
	margin: 25px auto auto 178px;
	font-size: 18px;
}
#lienhe ul a{
	text-decoration: none;
	color: #c5b9b9; 
}
#lienhe ul li{
	list-style-type: none;
	margin: 10px auto auto auto;
}
#diachi{
	float: left;
}
#diachi ul p{
	margin: 10px auto auto 128px;
}
